<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>联系我们-广州接入信息科技有限公司</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="../Content/Company2/libs/bootstrap.css">
    <!-- <link rel="stylesheet" href="../Content/Company2/libs/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../Content/Company2/css/index.css">

</head>
<body>
    <header>
        <!-- 头部logo -->
        <div class="container-fluid bg-f0">
            <a href="#">
                <img class="img-responsive" src="../Content/Company2/img/logo.png" alt="logo">
            </a>
        </div>

    </header>
    <section class="cu-main bg-f0">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-offset-1">
                    <div class="row bg-fff cu-main-l">
                        <div class="col-md-10 col-sm-offset-1">
                            <h3 class="text-center color-black">联系我们</h3>
                                <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                          <label for="name" class="col-sm-2 control-label">名字</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" id="name" placeholder="请输入名字">
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="tel" class="col-sm-2 control-label">电话</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" id="tel" placeholder="请输入电话">
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="validate" class="col-sm-2 control-label">验证码</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" id="validate" placeholder="请输入验证码">
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="email" class="col-sm-2 control-label">邮箱</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" id="email" placeholder="请输入邮箱">
                                          </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">留言</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" rows="2"></textarea>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                          <div class="col-sm-12 text-center">
                                            <button type="submit" class="btn btn-primary">提交</button>
                                          </div>
                                        </div>
                                      </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row bg-fff cu-main-r">
                        <div class="col-sm-12 text-center">
                            <img src="../Content/Company2/img/lianxiwomenerweima.png" alt="">
                            <p class="color-black" style="padding: 15px 0 15px;">
                                企商云惠公众号
                            </p>
                            <p class="tips">
                                微信扫描二维码快速联系我们<br>
                                    和了解更多产品信息
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <footer class="footer">
            <div class="container">
                <div class="row">

                    <div class="col-sm-5 col-sm-offset-2" style="padding:30px">
                        <div style="border-right:1px solid #8b8989">
                            <address>
                                <span>备案:</span>
                                粤ICP备15079973号
                                <br />
                            </address>
                            <a target="_blank" href="http://www.jierutek.com/" title="广州接入信息科技有限公司">
                                © 2015-2017 广州接入信息科技有限公司
                            </a>
                            . All Rights Reserved.
                        </div>
    
                    </div>
                    <div class="col-sm-4" style="padding:30px">
                        <address>
                            <span>公司地址 : </span>
                            广州市天河区黄埔大道中277号203
                            <br />
                            <abbr title="Phone">手机 : </abbr>
                            <a href="tel:13928914698">+86-13928914698</a>
                            <br />
                            <abbr title="Email">邮件 : </abbr>
                            <a href="mailto:service@jierutek.com">service@jierutek.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>