<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>致力打造中国自己的小微企业社交化集成管理平台(互联天下，从此接入，广州接入信息科技有限公司)</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="../Content/Company2/libs/bootstrap.css">
    <link rel="stylesheet" href="../Content/Company2/libs/font-awesome.min.css">
    <link rel="stylesheet" href="../Content/Company2/css/index.css">
    
</head>

<body>
    <!-- 头部logo -->
    <header class="navbar-fixed-top">
        <div class="container-fluid">
            <a href="#">
                <img class="img-responsive" src="../Content/Company2/img/logo.png" alt="logo">
            </a>
        </div>
        <!-- 导航栏 -->
        <nav class="navbar" role="navigation">
            <div>
                <!-- 导航按钮 -->
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <!-- <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> -->
                        <i class="icon-th-list icon-2x"></i>
                    </button>
                    <!-- 联系我们 -->
                    <!-- <a class="navbar-brand" href="#">联系我们</a>        -->
                </div>
                <!-- 导航项目 -->
                <div class="collapse navbar-collapse bg-primary" id="collapsibleNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" class="nav-link activeItem">首页</a>
                        </li>
                        <li>
                            <a href="#aboutUs" class="nav-link">关于我们</a>
                        </li>
                        <li>
                            <a href="#OurProducts" class="nav-link">产品</a>
                        </li>
                        <li>
                            <a href="#serviceArea" class="nav-link">服务范围</a>
                        </li>
                        <li>
                            <a href="#customer" class="nav-link">客户列表</a>
                        </li>
                        <li>
                            <a href="#partner" class="nav-link">合作伙伴</a>
                        </li>
                        <li>
                            <a href="#ctf" class="nav-link">资质荣誉</a>
                        </li>
                        <li class="nav-item oh">
                            <a class="navbar-brand" href="#">联系我们</a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </nav>

    </header>
        
    <!-- 轮播图 -->
    <div class="banner" id="top">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../Content/Company2/img/lunboye.png" alt="First slide">
                </div>
                <div class="item">
                    <img src="../Content/Company2/img/lunboye1.png" alt="Second slide">
                </div>
                <div class="item">
                    <img src="../Content/Company2/img/lunboye2.png" alt="Third slide">
                </div>
                <div class="item">
                    <img src="../Content/Company2/img/lunboye5.png" alt="Third slide">
                </div>
                <div class="item">
                    <img src="../Content/Company2/img/lunboye4.png" alt="Third slide">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="icon-chevron-left icon-2x" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="icon-chevron-right icon-2x" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    </div>
    <!-- 功能tag -->
    <div class="cfun container-fluid bg-primary">
        <div class="row">
            <div class="col-sm-2 col-xs-6 col-xs-offset-1">
                <img src="../Content/Company2/img/head_1.png" alt="">
                <span>全栈式SasS+PasS应用平台</span>
            </div>
            <div class="col-sm-2 col-xs-6">
                <img src="../Content/Company2/img/head_2.png" alt="">
                <span>电子商务平台</span>
            </div>
            <div class="col-sm-2 col-xs-6">
                <img src="../Content/Company2/img/head_3.png" alt="">
                <span>企业级应用平台快速开发框架</span>
            </div>
            <div class="col-sm-2 col-xs-6">
                <img src="../Content/Company2/img/head_4.png" alt="">
                <span>工业级爬虫集群架构</span>
            </div>
            <div class="col-sm-2 col-xs-6">
                <img src="../Content/Company2/img/head_5.png" alt="">
                <span>广告+互联网平台</span>
            </div>
        </div>
    </div>
    <!-- 资质荣誉 -->
    <section class="honer">
        <div class="container">
            <h2 class="color-black text-center">
                <i class="blue-line"></i>
                资质荣誉
                <i class="blue-line"></i>
            </h2>
            <p class="text-center">
                <span class="blue-ellipse">HONER</span>
            </p>
            <div class="row text-center">
                <div class="col-md-2 col-sm-offset-3">
                    <button type="button" class="btn btn-default btn-block">专利证书</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default btn-block">软件著作权证书</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default btn-block">高新</button>
                </div>
            </div>
            <div class="row ctf-list">
                <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                    <img class="img-responsive" src="../Content/Company2/img/honer_1.png" alt="">
                    <p class="text-center mt25">
                        接入信息管理系统V1.0
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                    <img class="img-responsive" src="../Content/Company2/img/honer_1.png" alt="">
                    <p class="text-center mt25">
                        接入信息管理系统V1.0
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                    <img class="img-responsive" src="../Content/Company2/img/honer_1.png" alt="">
                    <p class="text-center mt25">
                        接入信息管理系统V1.0
                    </p>
                </div>
            </div>
            <div class="row ctf-big">
                <div class="col-md-8 col-sm-offset-2">
                    <p class="text-center mt25">接入信息管理系统V1.0</p>
                    <img class="img-responsive" src="../Content/Company2/img/ctf_big.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <footer class="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img src="../Content/Company2/img/lianxiwomenerweima.png" style="width :100%;padding:10% " />
                    <p class="text-center">企商云惠公众号</p>
                </div>
                <div class="col-sm-5" style="padding:30px">
                    <div style="border-right:1px solid #8b8989">
                        <address>
                            <span>备案:</span>
                            粤ICP备15079973号
                            <br />
                        </address>
                        <a target="_blank" href="http://www.jierutek.com/" title="广州接入信息科技有限公司">
                            © 2015-2017 广州接入信息科技有限公司
                        </a>
                        . All Rights Reserved.
                    </div>

                </div>
                <div class="col-sm-5" style="padding:30px">
                    <address>
                        <span>公司地址 : </span>
                        广州市天河区黄埔大道中277号203
                        <br />
                        <abbr title="Phone">手机 : </abbr>
                        <a href="tel:13928914698">+86-13928914698</a>
                        <br />
                        <abbr title="Email">邮件 : </abbr>
                        <a href="mailto:service@jierutek.com">service@jierutek.com</a>
                    </address>
                </div>
            </div>
        </div>
    </footer>
    <!-- 右侧二维码 -->
    <div class="ewm">
        <div class="btn-group-vertical btn-group-lg">
            <button type="button" class="btn b1 btn-default activeItem" data-toggle="popover"
                    data-container="body" data-placement="auto left" data-trigger="hover focus">
                <img src="../Content/Company2/img/ewm_1.png" alt="">
            </button>
            <button type="button" class="btn btn-default">
                <img src="../Content/Company2/img/ewm_2.png" alt="">
            </button>
            <button type="button" class="btn btn-default">
                <a href="#top" class="back-to-top"><img src="../Content/Company2/img/ewm_3.png" alt=""></a>
            </button>
        </div>
    </div>

    <script src="../Content/Company2/libs/jquery-3.3.1.min.js"></script>
    <script src="../Content/Company2/libs/bootstrap.js"></script>
    <script src="../Content/Company2/js/index.js"></script>
</body>

</html>