@charset "utf-8";
@import "../styles/reset.scss";
@import "../styles/mixin.scss";

// =============================================
.oh {
	overflow: hidden;
}
.a {
    color:#fff;
}
.color-black {
	color: #000;
}
.center {
	text-align: center;
}
.box {
	padding-top: 60px;
	// padding-bottom: 60px;
}
.blue-line {
	@extend %blue-line;
}
.blue-ellipse {
	@extend %blue-ellipse;
}
.mt55 {
	margin-top: 55px;
}
.mt40 {
	margin-top: 40px;
}
.mb15 {
	margin-bottom: 15px;
}
.text-indent2 {
  text-indent: 2em;
}
// ===============头部,导航条================
.activeItem {
	border-bottom: 3px solid #ff6a00!important;
	color: #ff6a00!important;
}
.navbar {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-color: rgba(255,255,255,0.1);
}
.navbar {
	.nav-link {
		color: #fff;
		font-size: 16px;
		width: 120px;
		text-align: center;
		padding: 20px 0 13px 0;
		border-bottom: 3px solid transparent;

	}
}
.nav-link:hover {
	border-bottom: 3px solid #ff6a00;
	color: #ff6a00;
	background-color: transparent!important;
}
.navbar-brand {
  // float: right;
	height: 56px;
	width: 150px;
	text-align: center;
  padding: 20px 0 15px;
	font-size: 16px;
	color: #fff;
	line-height: 29px;
	background-color: #2f77d0;
}
.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
	background-color: #2f77d0!important;

	color: #fff;
}
@media (min-width: 768px) {
	.navbar-nav > li.nav-item {
			float: right;
	}
}
@media (min-width: 768px) {
	.navbar-nav {
			width: 100%;
	}
}
// 屏幕缩小, 选项卡缩小宽度
@media (max-width: 1000px) {
	.navbar {
		.nav-link {
			width: 100px;	
		}
	}
}
// 屏幕缩小, 选项卡缩小宽度
@media (max-width: 860px) {
	.navbar {
		.nav-link {
			width: 80px;	
		}
	}
}
.navbar-nav > li > a.navbar-brand {
	line-height: 29px;
}
.banner {
	width: 100%;
}

// 导航按钮的颜色
@media (max-width: 768px) {
	.icon-bar {
		background-color: #ff6a00;
	}
}
// ===导航下的字=============
@media (min-width: 1553px) {
	.cfun {
		.col-sm-2 {
			padding: 25px 5px;
		}
	}
}

@media (max-width: 1080px) {
	.cfun {
		.col-sm-2 {
			font-size: 0.6em;
		}
		img {
			width: 30px;
		}
	}
}
@media (max-width: 768px) {
	.cfun {
		.col-sm-2 {
			font-size: 0.4em;
			white-space: nowrap;

		}
		img {
			width: 25px;
		}
		.col-xs-offset-1 {
			margin: 0;
		}
	}
}
// ==============公司历史=========================
.history {
	position: relative;
	margin-top: 30px;
    margin-bottom: 60px;
}
.history {
	.history-l,.history-r {
		width: 41%;
		display: inline-block;
	}
	img {
		width: 17%;
	}@import "file1.css";


	h5 {
		color: #42aeef;
    font-size: 20px;
	}
	.history-l {
		.info {
			position: absolute;
			left: 0;
			color: #666;
			width: 40%;
		}
		h5,p {
			text-align: right;
		}
		.info-1 {
			top: 17%;
			padding-right: 10px;
		}
		.info-2 {
			top: 41%;
			padding-right: 10px;
		}
		.info-3 {
			top: 65%;
			padding-right: 10px;
		}
		.info-4 {
			top: 89%;
			padding-right: 10px;
		}

	}
	.history-r {
		.info {
			position: absolute;
			right: 0;
			color: #666;
			width: 40%;
		}

		h5,p {
			text-align: left;
		}
		.info-1 {
			top: 4%;
			padding-left: 10px;
		}
		.info-2 {
			top: 28%;
			padding-left: 10px;
		}
		.info-3 {
			top: 52%;
			padding-left: 10px;
		}
		.info-4 {
			top: 76%;
			padding-left: 10px;
		}
	}
}
// ===========证书部分=============
.ctf {
	height: 290px;
	background-color: lightblue;
	margin-bottom: 130px;
}

// ===========服务范围=============
.f-icon {
    width: 95px;
    height: 95px;
    float: left;
    display: inline-block;
    margin-right: 10px;
}
.f-icon1 {
    background: url(../img/sa1.png) center no-repeat;
}
.f-icon2 {
    background: url(../img/sa2.png) center no-repeat;
}
.f-icon3 {
    background: url(../img/sa3.png) center no-repeat;
}
.f-icon4 {
    background: url(../img/sa4.png) center no-repeat;
}
.f-icon5 {
    background: url(../img/sa5.png) center no-repeat;
}
.f-icon6 {
    background: url(../img/sa6.png) center no-repeat;
}
.f-icon7 {
    background: url(../img/sa7.png) center no-repeat;
}
.f-icon8 {
    background: url(../img/sa8.png) center no-repeat;
}
.f-icon9 {
    background: url(../img/sa9.png) center no-repeat;
}
/*.features {
    margin-bottom: 50px;
}*/
.features {
    h4 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    h5 {
        line-height:23px;
        font-weight: 400;

    }
    div {
        margin-bottom: 40px;
    }
}

// ===========我们的产品=============
.OurProducts {
    margin-top: 40px;

}
.OurProducts {
    .img-responsive {
        margin-bottom: 10px;
    }
    button {
        background-color: #c7defb;
        border: 1px solid #2972d8;
        padding: 18px 50px;
        margin-top: 50px;
    }
}
// ===========合作伙伴=============
.p-item {
    border: 1px solid #ddd;
    padding: 60px 40px 50px;
    margin-bottom: 40px;
}
.p-item {
    .media {
        position: relative;
    }
    .media {
        span {
            white-space: nowrap;
            font-size: 12px;
        }
        .wxFont {
            position: relative;
            left: 5px;

        }
    }
    .media-body {
        font-size: 14px;

    }
    .media-heading {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 600;
    }
}
// ===========客户列表=============
.c-item {
    border: 1px solid #ddd;
    padding: 20px 15px;
    margin-bottom: 35px;
}
.c-item {
    p {
        font-size: 14px;
        margin-top: 10px;
    }
    .c-item-img {
        width: 80%;
        margin: 10px auto;
        
    }
}
// ===========页脚=============

.footer {
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
    background: #212831;
}
.footer {
    a {
        color:#fff;
    }
}