@charset "utf-8";
@import "../styles/reset.scss";
@import "../styles/mixin.scss";

// =============================================
.oh {
	overflow: hidden;
}
.color-black {
	color: #000;
}
.center {
	text-align: center;
}
.box {
	padding-top: 60px;
	padding-bottom: 60px;
}
.blue-line {
	@extend %blue-line;
}
.blue-ellipse {
	@extend %blue-ellipse;
}
.mt55 {
	margin-top: 55px;
}
.mb15 {
	margin-bottom: 15px;
}
.text-indent2 {
  text-indent: 2em;
}
// ===============头部,导航条================
.activeItem {
	border-bottom: 3px solid #ff6a00!important;
	color: #ff6a00!important;
}
.navbar {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-color: rgba(255,255,255,0.1);
}
.navbar {
	.nav-link {
		color: #fff;
		font-size: 16px;
		width: 120px;
		text-align: center;
		padding: 20px 0 13px 0;
		border-bottom: 3px solid transparent;

	}
}
.nav-link:hover {
	border-bottom: 3px solid #ff6a00;
	color: #ff6a00;
	background-color: transparent!important;
}
.navbar-brand {
  // float: right;
	height: 56px;
	width: 150px;
	text-align: center;
  padding: 20px 0 15px;
	font-size: 16px;
	color: #fff;
	line-height: 29px;
	background-color: #2f77d0;
}
.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
	background-color: #2f77d0!important;

	color: #fff;
}
@media (min-width: 768px) {
	.navbar-nav > li.nav-item {
			float: right;
	}
}
@media (min-width: 768px) {
	.navbar-nav {
			width: 100%;
	}
}
// 屏幕缩小, 选项卡缩小宽度
@media (max-width: 1000px) {
	.navbar {
		.nav-link {
			width: 100px;	
		}
	}
}
// 屏幕缩小, 选项卡缩小宽度
@media (max-width: 860px) {
	.navbar {
		.nav-link {
			width: 80px;	
		}
	}
}
.navbar-nav > li > a.navbar-brand {
	line-height: 29px;
}
.banner {
	width: 100%;
}

// 导航按钮的颜色
@media (max-width: 768px) {
	.icon-bar {
		background-color: #ff6a00;
	}
}
// ===导航下的字=============
@media (min-width: 1553px) {
	.cfun {
		.col-sm-2 {
			padding: 25px 5px;
		}
	}
}

@media (max-width: 1080px) {
	.cfun {
		.col-sm-2 {
			font-size: 0.6em;
		}
		img {
			width: 30px;
		}
	}
}
@media (max-width: 768px) {
	.cfun {
		.col-sm-2 {
			font-size: 0.4em;
			white-space: nowrap;

		}
		img {
			width: 25px;
		}
		.col-xs-offset-1 {
			margin: 0;
		}
	}
}
// ==============公司历史=========================
.history {
	position: relative;
	margin: 30px 0 100px;
}
.history {
	.history-l,.history-r {
		width: 41%;
		display: inline-block;
	}
	img {
		width: 17%;
	}

	.info {
		position: absolute;
    left: 0;
    color: #666;
    width: 40%;
	}
	.info-1 {
		top: 17%;
		padding-right: 10px;
	}
	.info-2 {
		top: 41%;
		padding-right: 10px;
	}
	.info-3 {
		top: 65%;
		padding-right: 10px;
	}
	.info-4 {
		top: 89%;
		padding-right: 10px;
	}
	h5 {
		color: #42aeef;
    font-size: 20px;
	}
	.history-l {
		h5,p {
			text-align: right;
		}

	}
}
