@charset "utf-8";

%blue-line {
    width: 88px;
    height: 2px;
    background-color: #2972d8;
    display: inline-block;
    margin-bottom: 6px;
}
%blue-ellipse {
    padding: 0px 7px;
    border: 1px solid #2972d8;
    border-radius: 5px;
    margin-top: 5px;
    display: inline-block;
}
.v {
    color:white;
}