@charset "UTF-8";
/*=============样式重置====================*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

body {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"; }

fieldset, img {
  border: 0; }

img {
  vertical-align: middle; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ul, ol {
  list-style: none; }

input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

select, input {
  vertical-align: middle; }

select, input, textarea {
  font-size: 12px;
  margin: 0; }

input {
  outline: none;
  color: #6d6d6d;
  -webkit-tap-highlight-color: transparent;
  /* 点击去除高亮的颜色*/ }

textarea {
  resize: none; }

table {
  border-collapse: collapse; }

a {
  text-decoration: none;
  color: #666666; }

html, body, #main {
  width: 100%; }

#main {
  min-width: 1200px; }

.p20 {
  padding: 20px; }

.mt20 {
  margin-top: 20px; }

.fs12 {
  font-size: 12px; }

.fs14 {
  font-size: 14px; }

.tr {
  text-align: right; }

.width700 {
  width: 700px; }

.overH {
  overflow: hidden; }

.orange {
  color: #ff8140; }

.mt10 {
  margin-top: 10px; }

.mt80 {
  margin-top: 80px; }

.mt5 {
  margin-top: 5px; }

.mt65 {
  margin-top: 65px; }

.mt60 {
  margin-top: 60px; }

.ml10 {
  margin-left: 10px; }

.ml45 {
  margin-left: 45px; }

.mr40 {
  margin-right: 40px; }

.width1200 {
  width: 1200px;
  margin: 0 auto; }

.width1210 {
  width: 1210px;
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.fontBlack {
  color: black; }

.fontRed {
  color: red; }

.prize-style {
  color: #ff8140;
  font-size: 22px; }

#jdl-header, .topLeft > li > a, .topRight > li > a {
  font-size: 12px;
  color: #666; }

.jdl-header-top {
  height: 30px;
  line-height: 30px; }

.jdl-header-top-container {
  border-bottom: 1px solid #c4c4c4; }

.topLeft > li, .topRight > li {
  margin-right: 20px;
  display: inline-block; }

.logo {
  height: 125px;
  width: 250px;
  display: inline-block;
  position: relative; }

.logo img {
  /*display: inline-block;*/
  width: 248px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -21px 0 0 -124px; }

.search-area {
  width: 675px;
  height: 125px;
  position: relative;
  margin-right: 180px; }

.search-area .search {
  width: 550px;
  height: 36px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 117px;
  bottom: 0;
  border: 1px solid #ff8140;
  /*background: red*/ }

.search input {
  width: 450px;
  height: 100%;
  line-height: 40px;
  outline: none;
  border: none;
  font-size: 14px;
  padding-left: 13px; }

.search-btn {
  width: 87px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  background: #ff8140;
  color: white;
  font-size: 14px; }

.shop-car {
  width: 90px;
  height: 38px;
  line-height: 38px;
  background: #ff8140;
  margin: 43.5px 0;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 14px;
  border-radius: 2px; }

.car-margin {
  margin-bottom: 5px; }

.jdl-header-menu-container {
  height: 40px;
  color: #959595; }

.jdl-header-menu {
  /*background: red;*/
  height: 100%;
  position: relative; }

.jdl-header-search {
  overflow: hidden; }

.tac {
  text-align: center; }

.jdl-header-panel {
  height: 100%;
  line-height: 40px;
  width: 220px;
  color: white;
  font-size: 16px;
  background: #ff8140; }

.jdl-header-panel > img {
  padding-left: 25px;
  padding-right: 25px; }

.link {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-left: 20px;
  color: #666666; }

.link > li {
  display: inline-block;
  width: 90px;
  text-align: center; }

.link.fl a {
  color: #8c8a8a; }

.classify {
  /*background: red;*/
  width: 95px;
  height: 100%;
  line-height: 40px;
  font-size: 16px;
  color: #666;
  text-align: center; }

.index-content {
  background-color: #f6f6f6; }

.classify-panel {
  width: 220px;
  height: 455px;
  position: absolute;
  display: none;
  top: 40px;
  color: white;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999; }

.classify-panel-item {
  height: 57px;
  padding: 17px 25px 15px 10px;
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1); }

.classify-panel-item > p > img:nth-of-type(2) {
  margin-top: 7px; }

.classify-panel-item > p > img:nth-of-type(1) {
  margin-left: 11px; }

.font-color {
  color: rgba(255, 255, 255, 0.5); }

.classify-panel-item .font-color {
  font-size: 13px;
  margin-top: 18px;
  margin-left: 10px; }

.classify-panel-item .font-color span {
  margin-left: 7px; }

.tab-content {
  width: 100%;
  height: 455px;
  position: relative;
  /*background: lightblue;*/ }

.login-news {
  position: absolute;
  top: 60px;
  right: 50%;
  width: 210px;
  height: 270px;
  padding: 20px;
  margin-right: -600px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 999; }

.no-login {
  width: 100%;
  height: 80px;
  text-align: center; }

.login-register {
  width: 100%;
  height: 30px;
  margin-top: 20px; }

.login-register > a {
  display: inline-block;
  color: white;
  width: 95px;
  height: 30px;
  line-height: 30px;
  background: #ff8140;
  font-size: 14px;
  border-radius: 2px;
  margin: 0 3px; }

.announcement {
  width: 100%;
  color: #ff8140;
  margin: 0 0 4.5px;
  overflow: hidden; }

.announcement-logo {
  float: left;
  width: 50%;
  height: 38px;
  font-size: 15px;
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  border-bottom: 3px solid #ff8140; }

.announcement-logo > img {
  padding-right: 5px;
  padding-bottom: 5px;
  width: 27px; }

.announcement-more {
  float: left;
  width: 50%;
  line-height: 41px;
  text-align: right;
  border-bottom: 3px solid #d8e5f8;
  height: 38px; }

.announcement-more > a {
  color: #ff8140;
  font-size: 14px; }

.tab-list {
  width: 100%;
  margin: 0;
  overflow: hidden; }

.tab-list li {
  margin: 5px 0px; }

.tab-list .tab-title {
  width: 150px;
  color: #666;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap; }

.tab-time {
  display: inline-block;
  color: #999;
  font-size: 12px;
  float: right; }

.tender-btn {
  color: #666;
  font-size: 14px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #ff8140;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  margin-top: 5px; }

.tender-btn:hover {
  background: #ff8140;
  color: white; }

.footer-title {
  width: 100%;
  background: #ff8140;
  height: 65px; }

.footer-title li {
  width: 160px;
  height: 50px;
  padding-left: 25px;
  margin-left: 30px;
  color: #fff;
  float: left;
  position: relative; }

.footer-title li img {
  position: absolute; }

.footer-title .width1000 li:nth-child(1) img {
  top: 9px;
  left: 20px; }

.footer-title .width1000 li:nth-child(2) img {
  top: 9px;
  left: 18px; }

.footer-title .width1000 li:nth-child(3) img {
  top: 5px;
  left: 28px; }

.footer-title .width1000 li:nth-child(4) img {
  top: 8px;
  left: 25px; }

.footer-title li p:nth-of-type(1) {
  font-size: 16px;
  position: absolute;
  top: 5px;
  left: 70px; }

.footer-title li p:nth-of-type(2) {
  font-size: 12px;
  position: absolute;
  top: 25px;
  left: 70px; }

.width1000 {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0; }

.footer-help .width1200 {
  margin-top: 50px;
  border-top: 1px solid #eeeeee;
  overflow: hidden; }

.help-list {
  padding: 40px 0 25px;
  color: #666666;
  width: 1000px; }

.help-list table {
  float: left;
  width: 25%;
  table-layout: fixed; }

.help-list tr:nth-child(1) {
  margin-bottom: 20px;
  display: inline-block;
  color: #000000; }

.help-list th {
  font-size: 14px;
  font-weight: bold; }

.help-list td {
  font-size: 12px; }

.help-list a {
  color: #8c8a8a; }

.footer-help .ewm {
  padding: 40px 25px 25px;
  font-size: 12px;
  text-align: center;
  color: #232323; }

.footer-help .ewm.fl p {
  margin-top: 5px; }

.footer-info {
  padding-top: 15px;
  padding-bottom: 30px; }

.footer-info p, .footer-info a {
  color: #8c8a8a;
  font-size: 12px; }

.footer-info p {
  text-align: center; }

.footer-info-img {
  text-align: center;
  margin-top: 20px; }

.footer-info-img li {
  display: inline-block;
  margin-right: 25px; }

.floor-menu {
  position: fixed;
  top: 200px;
  left: 20px;
  width: 65px;
  height: 205px;
  z-index: 999;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  border-radius: 2px; }

.floor-menu table td {
  width: 65px;
  border-bottom: solid 1px #dfdfdf;
  height: 38px;
  text-align: center;
  line-height: 38px; }

.floor-menu a {
  font-size: 14px; }

.r-menu {
  position: fixed;
  top: 200px;
  right: 60px;
  width: 65px;
  height: 290px;
  z-index: 999;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  border-radius: 2px; }

.r-menu table td {
  width: 67px;
  border-bottom: solid 1px #dfdfdf;
  height: 73px;
  text-align: center;
  line-height: 38px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.r-ewm {
  width: 142px;
  height: 164px;
  top: 308px;
  right: 150px;
  background: white;
  position: fixed;
  z-index: 999;
  padding: 15px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#r_ewm {
  background: #ff8140;
  border-right: #ff8140;
  border-left: #ff8140; }

.r-ewm:before {
  content: "";
  position: absolute;
  left: 100%;
  top: 45%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid white;
  border-bottom: 5px solid transparent; }

.r-ewm img {
  width: 100%; }

.r-ewm p {
  font-size: 12px;
  margin-top: 10px;
  color: #8c8a8a; }

.bottom-arrow:before {
  content: "";
  border: 8px solid #999;
  border-bottom: none;
  border-right-color: transparent;
  border-left-color: transparent;
  position: relative;
  top: 18px;
  left: 12px; }

.bottom-arrow:after {
  content: "";
  border: 8px solid #fff;
  border-bottom: none;
  border-right-color: transparent;
  border-left-color: transparent;
  position: relative;
  top: 16px;
  left: -4px; }

.right-arrow {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 9px solid #666;
  border-bottom: 5px solid transparent; }

.category-info {
  padding: 20px 0 30px; }

.category-info span {
  font-size: 14px;
  color: #666;
  padding-right: 8px; }

.category-info a {
  color: #666; }

.weituo-top {
  margin-bottom: 10px; }

.fileinput-button {
  position: relative; }

.fileinput-button input {
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  position: relative;
  z-index: 99; }

.fileinput-button span {
  display: inline-block;
  width: 115px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  position: absolute;
  left: 136px;
  top: 0px; }

#wetuoneirong {
  height: 60px; }

.weituo-content .weituo-top {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #ff8140;
  color: white;
  font-size: 16px; }

.weituo-content .weituo-top a {
  color: white;
  padding-left: 50px; }

.weituo-content .lp8 {
  letter-spacing: 8px; }

.weituo-content .weituo-nav {
  width: 200px;
  font-size: 14px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.weituo-content .weituo-nav ul {
  width: 100%; }

.weituo-content .weituo-nav ul li {
  padding-right: 10px;
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 15px 10px 10px 20px;
  border: 1px solid #ddd;
  border-bottom: 5px solid #ff8140; }

.weituo-content .weituo-nav .right-arrow {
  border-left-color: #ddd; }

.weituo-content .weituo-form {
  width: 990px;
  height: 500px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 15px; }

.weituo-content .form-title {
  width: 100%;
  border-bottom: 1px solid #ddd; }

.weituo-content .form-title span {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 195px;
  font-size: 24px;
  color: #ff8140;
  padding-right: 50px;
  padding-bottom: 10px;
  border-bottom: 5px solid #ff8140; }

.weituo-content .form-info {
  width: 100%;
  padding-left: 285px;
  padding-top: 15px;
  font-size: 14px;
  color: #333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.weituo-content .form-info p {
  margin-bottom: 20px; }

.weituo-content .form-info p:nth-last-of-type(1),
.weituo-content .form-info p:nth-last-of-type(2) {
  padding-left: 136px; }

.weituo-content .form-info label {
  width: 120px;
  text-align: right;
  display: inline-block;
  padding: 3px 6px;
  position: relative;
  top: 3px;
  vertical-align: top; }

.weituo-content .form-info input {
  width: 285px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #ddd; }

.weituo-content .form-info input[type="file"] {
  width: 115px;
  height: 40px;
  cursor: pointer; }

.weituo-content .operating-btn a {
  display: inline-block;
  width: 95px;
  height: 28px;
  background-color: #ff8140;
  margin-right: 10px;
  color: white;
  text-align: center;
  line-height: 28px;
  cursor: pointer; }

/*# sourceMappingURL=trade_weituo.css.map */
