@charset "utf-8";

$mainColor: #ff8140;
$fontColor: #8c8a8a;
@mixin box-sizing ($sizing) {
  -webkit-box-sizing:$sizing;
  -moz-box-sizing:$sizing;
  box-sizing:$sizing;
}
@mixin fontSize ($size) {
  font-size: $size;
}
@mixin _table () {
  color: #8c8a8a;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

//==============================================
