@charset "utf-8";

$mainColor: #ff8140;
$fontColor: #8c8a8a;
@mixin box-sizing ($sizing) {
  -webkit-box-sizing:$sizing;
  -moz-box-sizing:$sizing;
  box-sizing:$sizing;
}
@mixin fontSize ($size) {
  font-size: $size;
}
@mixin marginTop ($top) {
  margin-top: $top;
}
@mixin paddingTop ($top) {
  padding-top: $top;
}
@mixin textAlign ($align) {
  text-align: $align;
}
@mixin _table () {
  color: #8c8a8a;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
//==============================================
.tr {
  text-align: right;
}
.mt5 {
  margin-top: 5px;
}