@charset "utf-8";
@import "../styles/$reset";
@import "../styles/$mixin";
@import "../styles/$style";

// ============竞价交易,集采交易===============
.trade-content {
    margin-bottom: 20px;
}
.trade-content {
    .category-info {
        padding-bottom: 10px;
    }
    .trade-main {
        overflow: hidden;
        height: 530px;
        width: 100%;
    }
    .trade-goods-img {
        width: 380px;
        @include box-sizing(border-box);
        height: 100%;
        padding-bottom: 45px;
    }
    .trade-goods-info {
        width: 1040px - 380px;
        @include box-sizing(border-box);
        height: 100%;
        padding: 0 10px 145px 20px;
    }
    .trade-goods-more {
        width: 150px;
        @include box-sizing(border-box);
        height: 100%;
        border: 1px solid #ddd;
        margin-right: 10px;
    }
    .trade-goods-more>p {
        margin-bottom: 25px;
    }
    .trade-goods-more li {
        height: 142px;
        width: 100%;
        margin-top: 8px;
        text-align: center;
    }
    .trade-goods-more li p {
        font-size: 12px;
        color: black;
        padding-top: 5px;
    }
    .trade-goods-more div.tac img {
        cursor: pointer;
    }
    .trade-goods-img-box {
        height: 380px;
        @include box-sizing(border-box);
        width: 100%;
        border: 12px solid #eee;
    }
    .trade-goods-img ul {
        overflow: hidden;
        width: 100%;
        height: 90px;
        background-color: #666;
    }
    .trade-goods-img li {
        float: left;
        width: 25%;
        height: 100%;
        background-color: lightblue;
    }
    .trade-goods-info p {
        color: #000;
        font-size: 24px;   
        margin-bottom: 10px; 
    }
    .trade-goods-info table {
        width: 100%;
        border: 1px solid #ddd;
        border-bottom: none;
        border-right: none;

    }
    .trade-goods-info td {
        height: 45px;
        font-size: 14px;
        border: 1px solid #ddd;
        border-top: none;
        border-left: none;
    }
    .trade-goods-info .tdstyle {
        width: 188px;
        background-color: #f7faff;
        text-align: right;
        padding-right: 20px;
    }
    .pl10 {
        padding-left: 10px;
    }
    .fs30 {
        font-size: 30px;
    }
    .trade-bottom {
        width: 100%;
        color: #666;
        font-size: 0px;  // 去除inline-block的间隔
        border-bottom: 1px solid #ff8140;
    }
    .trade-bottom span {
        font-size: 24px;
        padding: 10px 17px;
        @include box-sizing(border-box);
        height: 50px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }
    .trade-bottom-info {
        width: 100%;
        padding-top: 42px; 
        padding-bottom: 42px; 
        color: #666;
        font-size: 14px;
    }
    .trade-bottom-info p {
        padding-bottom: 20px;
    }
    // .isActive {
    //     color: white;
    //     background-color: $mainColor;
    // }
}

// ============商品详情===============
.detail-content {
    margin-bottom: 20px;
}
.detail-content {
    .category-info {
        padding-bottom: 10px;
    }
    .detail-main {
        overflow: hidden;
        height: 530px;
        width: 100%;
    }
    .detail-goods-img {
        width: 380px;
        @include box-sizing(border-box);
        height: 100%;
    }
    .detail-goods-info {
        width: 1040px - 380px;
        @include box-sizing(border-box);
        height: 100%;
        padding: 0 50px 145px 20px;
    }
    .detail-goods-more {
        width: 150px;
        @include box-sizing(border-box);
        height: 100%;
        margin-right: 10px;
    }
    .detail-goods-more>p {
        margin-bottom: 25px;
    }
    .detail-goods-more {
        >p i {
            display: inline-block;
            border-top: 1px dotted #ddd;
            width: 20px;
            margin-bottom: 5px;
        }
    }
    .detail-goods-more li {
        height: 142px;
        width: 100%;
        margin-top: 8px;
        text-align: center;
        cursor: pointer;
    }
    .detail-goods-more li p {
        font-size: 12px;
        color: black;
        padding-top: 5px;
    }
    .detail-goods-more li img {
        border: 1px solid #ddd;
    }
    .detail-goods-more div.tac img {
        cursor: pointer;
    }
    .detail-goods-img-box {
        height: 380px;
        @include box-sizing(border-box);
        width: 100%;
        border: 1px solid #eee;
    }
    .detail-goods-img ul {
        overflow: hidden;
        width: 100%;
        height: 90px;
        background-color: #666;
    }
    .detail-goods-img li {
        float: left;
        width: 25%;
        height: 100%;
        background-color: lightblue;
    }
    .detail-goods-info p {
        color: #000;
        font-size: 24px;   
        margin-bottom: 10px; 
    }
    .detail-goods-info table {
        width: 100%;
        font-size: 14px;
        color: #666;
    }
    .detail-goods-info td {
        height: 45px;
        font-size: 14px;
    }
    .detail-goods-info .tdstyle {
        width: 90px;
        text-align: left;
        // padding-right: 20px;
    }
    .detail-goods-info tr:nth-child(1) {
        background-color: #fff9f5;
        height: 55px;
    }
    .detail-goods-info select {
        height: 30px;
        width: 200px;
        outline: none;
        border: 1px solid #ddd;
        @include box-sizing(border-box);
        padding-left: 10px;
    }
    .detail-goods-info {
        .numJian {
            display: inline-block;
            height: 30px;
            width: 30px;
            line-height: 28px;
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            color: #999;
            cursor: pointer;
            border-left: 1px solid #ddd;   
            position: absolute;
            left: 138px;         
        }
        .numJia {
            display: inline-block;
            height: 30px;
            width: 30px;
            line-height: 28px;
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            color: #999;
            cursor: pointer;
            border-left: 1px solid #ddd;   
            left: 169px;         
            position: absolute;
        }
        input {
            height: 30px;
            width: 200px;
            outline: none;
            border: 1px solid #ddd;            
            @include box-sizing(border-box);
            padding-left: 10px;

        }
        .detail-btn1 {
            @include btn(8px 20px,20px);
            display: inline-block;
            margin-right: 10px;
        }
        .detail-btn2 {
            @include btn(7px 25px,20px,#666,#fff,1px solid #ddd);
            display: inline-block;
        }
    }
    .numInput {
        position: relative;
    }
    .pl10 {
        padding-left: 10px;
    }
    .fs30 {
        font-size: 30px;
        color: #f94100;
    }
}
.collect-btn {
    width: 50px;
    height: 20px;
    cursor: pointer;
}
.collect-btn {
    i {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url(../img/star.png) center no-repeat;
        position: relative;
        top: 1px;
    }
    span {
        font-size: 14px;
        color: #666;
    }
}
.detail-info {
    width: 100%;

}
.detail-info-l {
    width: 200px;
    height: 1000px;
}
.detail-info-r {
    width: 1000px;
    @include box-sizing(border-box);
    padding-left: 10px;
    color: #666;
}
.detail-info-l-img {
    width: 200px;
    height: 350px;
    margin-bottom: 50px;
    background-color: lightblue;
}
.other-goods {
    width: 100%;
    height: 570px;
    border: 1px solid #ddd;
        color: #666;

}
.other-goods {
    p:nth-child(1) {
        width: 100%;
        height: 40px;
        background-color: #eee;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid #ddd;
    }
    ul {
        width: 100%;
    }
    li {
        width: 100%;
        height: 240px;
        text-align: center;
        cursor: pointer;
    }
}

.detail-info-r-title {
    span {
        @include btn(0px 25px 10px,14px,#666,#fff,2px solid transparent);
        float: left;
    }
    .active-part {
    border-bottom: 3px solid $mainColor;
    }
    span:nth-last-child(1) {
        @include btn(8px 16px,12px);
        float: right;
        margin-right: 30px;
    }
}
.detail-info-r-main {
    @include box-sizing(border-box);
    border-top: 2px solid #ddd;
    padding: 55px 110px;
}