@charset "utf-8";
@import "../styles/$reset";
@import "../styles/$mixin";
@import "../styles/$style";


/*===============公司简介=================*/
.profile-banner {
    width: 100%;
    height: 535px;
    background: url(../img/profile_banner.png) center no-repeat;
}
.profile-top {
    @include box-sizing(border-box);
    width: 100%;
    height: 195px;
    padding-top: 50px;
    padding-left: 260px;
    padding-right: 260px;
}
.profile-certificate {
    @include box-sizing(border-box);
    width: 100%;
    height: 435px;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
}
.profile-mid {
    width: 100%;
    height: 500px;
    @include box-sizing(border-box);
    background: url(../img/profile_mbg.png) center no-repeat;
}
.profile-mid-box {
    width: 100%;
    height: 500px;
    @include box-sizing(border-box);
    padding: 140px 130px;
}
.profile-mid-box {
    ul {
        width: 100%;
        height: 100%;
        color: #fff;
    }
    li {
        float: left;
        width: 180px;
        height: 100%;
        margin: 0 26px;
        text-align: center;
    }
    li p:nth-child(2) {
        font-size: 18px;
        margin-top: 20px;
    }
    li p:nth-child(3) {
        font-size: 14px;
        margin-top: 20px;
    }

}
.profile-btm {
    width: 100%;
    height: 450px;
    padding-top: 60px;
    @include box-sizing(border-box);

}
.profile-btm  {
    ul {
        width: 100%;
        color: #666;
        margin-top: 40px;
    }
    li {
        width: 265px;
        height: 230px;
        float: left;
        margin-right: 45px;
        text-align: center;
    }
    li:nth-last-child(1) {
        margin-right: 0;
    }
}
.profile-top>p:nth-child(1),
.profile-certificate>p:nth-child(1),
.profile-btm>p:nth-child(1) {
    color: #000;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.profile-top>p>span,
.profile-certificate>p>span,
.profile-btm>p>span {
    border: 1px solid $mainColor;
    width: 80px;
    display: inline-block;
}
.profile-top>p:nth-child(3) {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}
.profile-certificate li {
    width: 143px;
    height: 197px;
    float: left;
    margin: 0 58px;
    background: url(../img/profile_c.png);
}