@charset "utf-8";
@import "../styles/$reset";
@import "../styles/$mixin";
@import "../styles/$style";

/*===============swiper轮播图设置=================*/
.swiper-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px 10px;
}
/*小圆点的样式*/
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #666;
}
/*前进后退按钮的样式*/
.swiper-button-next, .swiper-button-prev{width: 40px;height: 40px;margin: -50px 0px;border-radius: 50%;opacity: 0;transition: all 0.5s;}  /*重定义切换按钮尺寸和上下居中位置*/
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {background-image: url(../img/btn_next.png);background-color: rgba(0,0,0,0.5);background-size: 18px 25px;right: 0;} /*更换背景图片、尺寸，增加背景颜色，设置透明度，*/
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{background-image: url(../img/btn_next.png);background-size:18px 22px;background-color: rgba(0,0,0,0.5);;transform: rotate(180deg);left: 0;} /*更换背景图片、尺寸，增加背景颜色，设置透明度，*/

.swiper-button-next:hover{background-color: rgba(0,0,0,0.7);} /*//触发后变色*/
.swiper-button-prev:hover{background-color: rgba(0,0,0,0.7);} /*触发后变色*/

// =================服务中心===================
.servive-c-content {
    margin-top: 80px;
    margin-bottom: 60px;
}
.servive-c-ad {
    width: 100%;
    height: 120px;
    background: blue;
}
.servive-c-content>.width1200 {
    .servive-c-content-list {
        margin-bottom: 38px;
    }
}
.servive-c-content-list {
    width: 100%;
}
.servive-c-content-list-item {
    width: 360px;
    height: 460px;
    position: relative;
    // background-color: #000000;
}
.servive-c-content-list-item p:nth-of-type(1) {
    color: #000;
    text-align: center;
    font-size: 24px;
    margin: 30px 0
}
.servive-c-content-list-item p:nth-of-type(2) {
    color: $fontColor;
    font-size: 14px;
    text-indent: 2em;
}
.servive-c-content-list {
    .servive-c-content-list-item:nth-child(2) {
        margin: 0 60px;
    }
    .servive-c-content-list-item-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.5)
    }
    .servive-c-content-list-item-hover p:nth-child(1) {
        color: #fff;
        font-size: 30px;
        margin-top: 75px;
    }
    .servive-c-content-list-item-hover p:nth-child(2) {
        color: #fff;
        font-size: 14px;
    }

}