@charset "utf-8";
@import "../css/$reset";
@import "../css/$mixin";
@import "../css/$style";

// ============服务中心列表页================
.serviceCenterList-content {
    margin-bottom: 100px;
}
.serviceCenterList-content {
    .serviceCenterList-banner {
        width: 100%;
        height: 360px;
        border-top: 4px solid $mainColor;
        background: url(../img/scl_banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #fff;
        text-align: center;
        font-size: 14px;
    }
    .serviceCenterList-banner p:nth-child(1) {
        font-size: 30px;
        margin-top: 80px;
    }
    .serviceCenterList-banner p:nth-child(3) {
        margin-top: 20px;
    }
    .serviceCenterList-title {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
    }
    .serviceCenterList-title p:nth-child(2) {
        width: 100px;
        height: 7px;
        margin: 0 auto;
        background-color: $mainColor;
    }
    .serviceCenterList-partner {
        width: 100%;
        height: 255px;
        padding-left: 85px;
        padding-right: 85px;
        margin-top: 60px;
        position: relative;
        @include box-sizing(border-box);
    }
    .partner-logo {
        width: 300px;height: 115px;
        text-align: center;
        line-height: 100px;
        margin: 0 auto;
        @include box-sizing(border-box);
        border: 3px solid $mainColor;
        z-index: 10;
        position: relative;
        background-color: #fff;
    }
    .partner-info {
        width: 1030px;
        height: 160px;
        @include box-sizing(border-box);
        border: 3px solid $mainColor;
        position: absolute;
        bottom: 0;
        left: 85px;
        z-index: 9;
        color: #666;
        padding: 20px 35px;
        
    }
    .partner-info p:nth-child(1) {
        font-size: 24px;
        margin-bottom: 15px;
    }
}