@charset "utf-8";
@import "../styles/$reset";
@import "../styles/$mixin";
@import "../styles/$style";

// ============撮合交易页================
.cuohe-content {
    margin-bottom: 50px;
}
.rotateImg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.cuohe-content {
    .cuohe-box {
        width: 900px;
        color: #666;
        border: 1px solid #ddd;
    }
    .cuohe-progress {
        width: 100%;
        height: 175px;
        border-bottom: 1px solid #ddd;
        @include box-sizing(border-box);
        padding: 20px 15px;
        font-size: 16px;
    }
    .cuohe-progress ul {
        width: 770px;
        height: 100%;  
    }
    .cuohe-progress li {
        float: left;
        width: 130px;
        height: 100%;
        text-align: center;
        border: 1px solid #ddd;
        @include box-sizing(border-box);
    }
    .cuohe-progress li:nth-child(2n) {
        width: 30px;
        border: none;
    }
    .cuohe-progress li:nth-child(2n) img {
        margin-top: 60px;
    }
    .cuohe-progress>span {
        padding: 55px 18px;
        display: inline-block;
    }
    .cuohe-inquire {
        width: 100%;
        height: 50px;
        padding: 10px;
        font-size: 14px;
        color: #333;
        border-bottom: 1px solid #ddd;
        @include box-sizing(border-box);
    }
    .cuohe-inquire span:nth-child(1) {
        position: relative;
        top: 2px;
    }
    .cuohe-inquire span:nth-of-type(2) {
        padding-left: 15px;
        position: relative;
        top: 2px;

    }
    .cuohe-inquire span:nth-last-child(1) {
        display: inline-block;
        color: white;
        background-color: $mainColor;
        width: 53px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        cursor: pointer;
        margin-left: 5px;
    }
    .cuohe-inquire form {
        display: inline-block;
        margin-left: 8px;
    }
    .cuohe-inquire form select {
        width: 150px;
        height: 28px;
        color: #666;
        padding-left: 8px;
        outline: none;
    }
    .cuohe-inquire input {
        width: 170px;
        height: 28px;
        @include box-sizing(border-box);
        padding-left: 8px;
        margin-left: 10px;
    }
    .cuohe-product-info {
        height: 260px;
        width: 100%;
        padding: 20px;
        @include box-sizing(border-box);
    }
    .cuohe-product-info {
        table {
            width: 100%;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            font-size: 14px;
        }
        th {
            height: 38px;
            background-color: #f4f8ff;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }
        td {
            height: 58px;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }
    }
    .cuohe-pagination {
        width: 100%;
        height: 30px;
        line-height: 30px;
        @include box-sizing(border-box);
        padding-left: 310px;
    }
    .cuohe-pagination {
        span {
            position: relative;
            top: -9px;
        }
        ul {
            display: inline-block;
            width: 140px;
            height: 30px;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            @include box-sizing(border-box);
        }
        li {
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            @include box-sizing(border-box);
            width: 20%;
            height: 30px;
            text-align: center;
            float: left;
            cursor: pointer;
        }
        input {
            width: 30px;
            height: 30px;
            text-align: center;
            font-size: 14px;
            @include box-sizing(border-box);
            position: relative;
            top: -11px;
            border: 1px solid #ddd;
        }

    }
    .cuohe-back {
        width: 100%;
        @include box-sizing(border-box);
        height: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    .cuohe-back span {
        display: inline-block;
        color: white;
        background-color: #ff8140;
        width: 53px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        cursor: pointer;
    }
    .cuohe-textbox {
        width: 280px;
        height: 340px;
        margin-left: 18px;
        padding: 10px;
        @include box-sizing(border-box);
        border: 1px solid #ddd;
    }
    .cuohe-textbox .tac span {
        display: inline-block;
        width: 60px;
        height: 18px;
        border: 1px solid #3a7dda;
        color: #3a7dda;
        font-size: 12px;
        text-align: center;
        margin-bottom: 10px; 
    }
    .cuohe-textbox .tac span.span-btn {
        color: #fff;
        border: none;
        font-size: 14px;
    }
    .cuohe-textbox textarea {
        color: #c1c1c1;
        background-color: #fff;
        background-image: none;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        width: 258px;
        height: 180px;
        font-size: 14px;
        outline: none;
        padding: 5px;
        @include box-sizing(border-box);

    }
    .cuohe-textbox p {
        font-size: 14px;
        color: #666;
    }
    .cuohe-textbox textarea::-webkit-input-placeholder {
        color: #c1c1c1;
    }
    .cuohe-textbox textarea::-moz-placeholder {
        color: #c1c1c1;
    }
    .cuohe-textbox textarea:-ms-input-placeholder {
        color: #c1c1c1;
    }
}