@charset "utf-8";
/*=============样式重置====================*/
@font-face {
  font-family: openSans;
  src: url('../font/OpenSans-Regular.ttf');
}
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
  margin: 0;
  padding: 0;
}
body {
  font-family:'openSans',Arial,Helvetica,sans-serif,"宋体";
}
fieldset,img {
  border: 0;
}
img {
  vertical-align: middle;
}
address,caption,cite,code,dfn,th,var {
  font-style: normal;
  font-weight: normal;
}
ul,ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family:'openSans',Arial,Helvetica,sans-serif,"宋体";
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
select,input {
  vertical-align: middle;
}
select,input,textarea {
  font-size: 12px;
  margin: 0
}
// input[type="text"],input[type="password"],textarea {
//   outline-style: none;
//   -webkit-appearance: none;
// }
input {
    // border: none;
    outline: none;
    color:#6d6d6d;
    // -webkit-appearance:none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);   /* 点击去除高亮的颜色*/
}
textarea {
  resize: none;
}
table {
  border-collapse: collapse;
}
a {
  text-decoration: none;
}
section {
  color: #7c7c7c;
}