<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>致力打造中国自己的小微企业社交化集成管理平台(互联天下，从此接入，广州接入信息科技有限公司)</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="../../Content/Company2/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/Company2/libs/font-awesome.min.css">
    <link rel="stylesheet" href="../../Content/Company2/css/index.css">
    
</head>

<body>
    <!-- 头部logo -->
    <header>
        <!-- 导航栏 -->
        <nav class="navbar" role="navigation">
            <div class="navbar-main">
                    <a href="./index.html">
                        <img class="img-responsive" src="../../Content/Company2/img/logo.png" alt="logo">
                    </a>
                <!-- 导航按钮 -->
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">

                        <i class="icon-list-ul icon-2x"></i>
                    </button>
                </div>
                <!-- 导航项目 -->
                <div class="collapse navbar-collapse" id="">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" class="nav-link">首页</a>
                        </li>
                        <li>
                            <a href="#aboutUs" class="nav-link">关于我们</a>
                        </li>
                        <li>
                            <a href="#OurProducts" class="nav-link">产品</a>
                        </li>
                        <li>
                            <a href="#serviceArea" class="nav-link">服务范围</a>
                        </li>
                        <li>
                            <a href="#customer" class="nav-link">客户列表</a>
                        </li>
                        <li>
                            <a href="#partner" class="nav-link">合作伙伴</a>
                        </li>
                        <li>
                            <a href="#honer" class="nav-link">资质荣誉</a>
                        </li>
                        <li class="nav-item oh">
                            <a class="navbar-brand" href="contactUs.html">联系我们</a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </nav>
        <!-- 轮播图 -->
        <div class="banner" id="top">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../../Content/Company2/img/lunboye.png" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="../../Content/Company2/img/lunboye1.png" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="../../Content/Company2/img/lunboye2.png" alt="Third slide">
                    </div>
                    <div class="item">
                        <img src="../../Content/Company2/img/lunboye3.png" alt="Third slide">
                    </div>
                    <div class="item">
                        <img src="../../Content/Company2/img/lunboye4.png" alt="Third slide">
                    </div>
                    <div class="item">
                        <img src="../../Content/Company2/img/lunboye5.png" alt="Third slide">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="icon-chevron-left icon-2x" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="icon-chevron-right icon-2x" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
        </div>
        <!-- 功能tag -->
        <div class="cfun container-fluid">
            <div class="row">

                <div class="col-sm-5ths text-center">
                    <img src="../../Content/Company2/img/head_1.png" alt="">
                    <span>全栈式SaaS+PaaS应用平台</span>
                </div>
                <div class="col-sm-5ths text-center">
                    <img src="../../Content/Company2/img/head_2.png" alt="">
                    <span>电子商务平台</span>
                </div>
                <div class="col-sm-5ths text-center">
                    <img src="../../Content/Company2/img/head_3.png" alt="">
                    <span>企业级应用平台快速开发框架</span>
                </div>
                <div class="col-sm-5ths text-center">
                    <img src="../../Content/Company2/img/head_4.png" alt="">
                    <span>工业级爬虫集群架构</span>
                </div>
                <div class="col-sm-5ths text-center">
                    <img src="../../Content/Company2/img/head_5.png" alt="">
                    <span>广告+互联网平台</span>
                </div>
            </div>
    </div>
    </header>
        

    <!-- 关于我们 -->
    <section class="box" id="aboutUs">
        <div class="container">
            <h2 class="color-black text-center">
                <i class="blue-line"></i>
                关于我们
                <i class="blue-line"></i>
            </h2>
            <p class="text-center">
                <span class="blue-ellipse">about us</span>
            </p>
            <p class="mt55 mb15 text-indent2">
                广州接入信息科技有限公司成立于2015年8月，是一家以云计算和智能技术应用为核心的国家高新技术企业，其前身是广州伊社工作室。公司致力于企业SaaS服务平台的建设，为广大中小微企业提供集管理、营销、社交于一体的综合信息化平台，并在此基础上打造产业互联网和行业协作生态系统。同时公司也向中大型企业提供企业应用私有云解决方案。
            </p>
            <p class="text-indent2">
                广州接入信息科技有限公司主要提供全栈式企业应用,包括商城，CRM，ERP等系统(桌面+移动)，为企业实现线上线下融合，打造新零售的能力。客户关系管理(CRM),进销存,项目管理，人力资源，OA系统，PC商城，手机(微信)商城，内容管理，活动管理，招聘宝，微客服，公众号对接。您可以根据自己的需要选择相应的功能，现在注册内容管理，活动管理部分更是终身免费。
            </p>
        </div>
        <div class="container">
            <div class="history">
                <div class="history-l">
                    <div class="info info-1">
                        <h5>2006年</h5>
                        <p>伊社ERP推出（制造业)</p>
                    </div>
                    <div class="info info-2">
                        <h5>2015年8月</h5>
                        <p>广州接入信息科技有限公司成立</p>
                    </div>
                    <div class="info info-3">
                        <h5>2016年10月</h5>
                        <p>推出云餐饮平台</p>
                    </div>
                    <div class="info info-4">
                        <h5>2017年8月</h5>
                        <p>平台引入人工智能技术，VIP智能客服落地</p>
                    </div>
                </div>
                <img src="../../Content/Company2/img/tree2.png" alt="时间轴">
                <div class="history-r">
                    <div class="info info-1">
                        <h5>2004年</h5>
                        <p>伊社电脑工作室诞生</p>
                    </div>
                    <div class="info info-2">
                        <h5>2014年</h5>
                        <p>企商云惠云平台研发初步成型</p>
                    </div>
                    <div class="info info-3">
                        <h5>2016年1月</h5>
                        <p>企商云惠云平台正式运营</p>
                    </div>
                    <div class="info info-4">
                        <h5>2017年5月</h5>
                        <p>云ITSM管理落地</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 证书部分 -->
    <section class="ctf box" id="ctf">
        
        <div class="container">
            <button type="button" class="btn icon-btn">
                <i class="icon-angle-left icon-3x"></i>
            </button>
            <button type="button" class="btn icon-btn2 disabled">
                <i class="icon-angle-right icon-3x"></i>
            </button>

            <div class="vw">
                <div class="rowWp">

                    <div id="row1" class="row ctf-main">
                    <!-- <div id="ctf1"> -->
                        <div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-4">
                            <div class="ctf-item">
                                <div class="ctf-mask text-center">
                                    <p>高新技术企业</p>
                                </div>
                                <img class="img-responsive gxMargin" src="../../Content/Company2/img/gaoxin1.png" alt="荣誉证书">
                            </div>
                        </div>
                        <div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-4">
                            <div class="ctf-item">
                                <div class="ctf-mask text-center">
                                    <p>接入信息义齿管理系统</p>
                                </div>
                                <img class="img-responsive" src="../../Content/Company2/img/ctf_1.png" alt="荣誉证书">
                            </div>
                        </div>
                        <div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-4">
                            <div class="ctf-item">
                                <div class="ctf-mask text-center">
                                    <p>伊社制造业企业资源管理系统</p>
                                </div>
                                <img class="img-responsive" src="../../Content/Company2/img/ctf_2.png" alt="荣誉证书">
                            </div>
                        </div>
                        <div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-4">
                            <div class="ctf-item">
                                <div class="ctf-mask text-center">
                                    <p>企商云惠鲜花批发与花店管理云平台</p>
                                </div>
                                <img class="img-responsive" src="../../Content/Company2/img/ctf_3.png" alt="荣誉证书">
                            </div>
                        </div>
                        <div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-4">
                            <div class="ctf-item">
                                <div class="ctf-mask text-center">
                                    <p>企商云惠客户关系管理云平台</p>
                                </div>
                                <img class="img-responsive" src="../../Content/Company2/img/ctf_4.png" alt="荣誉证书">
                            </div>
                        </div>
                    <!-- </div>    -->
                    </div>
                    <div id="row2" class="row ctf-main">
                            <div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-4">
                                    <div class="ctf-item">
                                        <div class="ctf-mask text-center">
                                            <p>企商云惠微信商城云平台</p>
                                        </div>
                                        <img class="img-responsive" src="../../Content/Company2/img/ctf_5.png" alt="荣誉证书">
                                    </div>
                                </div>
                                <div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-4">
                                    <div class="ctf-item">
                                        <div class="ctf-mask text-center">
                                            <p>企商云惠餐饮管理云平台</p>
                                        </div>
                                        <img class="img-responsive" src="../../Content/Company2/img/ctf_6.png" alt="荣誉证书">
                                    </div>
                                </div>
                                <div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-4">
                                    <div class="ctf-item">
                                        <div class="ctf-mask text-center">
                                            <p>企商云惠微信俱乐部云平台</p>
                                        </div>
                                        <img class="img-responsive" src="../../Content/Company2/img/ctf_7.png" alt="荣誉证书">
                                    </div>
                                </div>
                                <div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-4">
                                    <div class="ctf-item">
                                        <div class="ctf-mask text-center">
                                            <p>接入信息工程项目管理系统</p>
                                        </div>
                                        <img class="img-responsive" src="../../Content/Company2/img/ctf_8.png" alt="荣誉证书">
                                    </div>
                                </div>
                                <div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-4">
                                    <div class="ctf-item">
                                        <div class="ctf-mask text-center">
                                            <p>伊社餐厅管理系统</p>
                                        </div>
                                        <img class="img-responsive" src="../../Content/Company2/img/ctf_9.png" alt="荣誉证书">
                                    </div>
                                </div>
                            </div>
                </div>

            </div>

        </div>

    </section>
    <!-- 服务范围 -->
    <section class="box" id="serviceArea">
        <div class="container">
            <h2 class="color-black text-center">
                <i class="blue-line"></i>
                服务范围
                <i class="blue-line"></i>
            </h2>
            <p class="text-center">
                <span class="blue-ellipse">service area</span>
            </p>
            <div class="row mt40">
                <div class="features">
                    <div class="col-md-4 col-sm-6">
                        <i class="f-icon f-icon1"></i>
                        <h4>
                            全栈式SasS应用平台
                        </h4>
                        <h5>
                            注册即用，为您的企业信息化节省90%以上的IT成本
                        </h5>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="f-icon f-icon2"></i>
                        <h4>
                            电子商务平台
                        </h4>
                        <h5>
                            不仅提供普通电子商务功能，更集成电子发票管理
                        </h5>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="f-icon f-icon3"></i>
                        <h4>
                            电子渠道及媒体集成
                        </h4>
                        <h5>
                            努力为企业打造自己的互联网+平台
                        </h5>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="f-icon f-icon4"></i>
                        <h4>
                            资源获取及数据服务
                        </h4>
                        <h5>
                            为中小型企业提供各种资源已及数据服务
                        </h5>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="f-icon f-icon5"></i>
                        <h4>
                            客户化研究及咨询
                        </h4>
                        <h5>
                            为客户提供定制化开发以及相关咨询服务
                        </h5>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="f-icon f-icon6"></i>
                        <h4>
                            智慧城市
                        </h4>
                        <h5>
                            为城市中小型企业及商家提供平台化的应用系统，提供上线下线融合一体的软件服务
                        </h5>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="f-icon f-icon7"></i>
                        <h4>
                            企业级应用平台快速开发框架
                        </h4>
                        <h5>
                            为企业提供公有云和私有云应用快速开发的系统框架，节省
                        </h5>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="f-icon f-icon8"></i>
                        <h4>
                            工业爬虫集群架构
                        </h4>
                        <h5>
                            为企业提供互联网信息及情报的智能采集能力，为企业提供自动化业务能力，开拓视野
                        </h5>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="f-icon f-icon9"></i>
                        <h4>
                            广告+互联网平台
                        </h4>
                        <h5>
                            提供LED/LCD分布集群管理和运营的平台系统，是广告行业的转型创新的必备支撑
                        </h5>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- 华为云 -->
    <section class="box" id="huaweiyun">
        <div class="container huaweiyun-pc">
            <img class="img-responsive mb15" src="../../Content/Company2/img/huaweiyun.png" alt="">
            <div class="row">
                <div class="col-sm-3">
                    <div class="huaweiyun-box">
                        <img class="img-responsive" src="../../Content/Company2/img/huawei_cert.png" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="huaweiyun-box oh">
                        <div class="col-sm-5ths text-center">
                            <div class="h-item">
                                <img class="mb15" src="../../Content/Company2/img/huawei_1.png" alt="">
                                <p>计算</p>
                            </div>
                        </div>
                        <div class="col-sm-5ths text-center">
                            <div class="h-item">
                                <img class="mb15" src="../../Content/Company2/img/huawei_2.png" alt="">
                                <p>储存</p>
                            </div>
                        </div>
                        <div class="col-sm-5ths text-center">
                            <div class="h-item">
                                <img class="mb15" src="../../Content/Company2/img/huawei_3.png" alt="">
                                <p>网络</p>
                            </div>
                        </div>
                        <div class="col-sm-5ths text-center">
                            <div class="h-item">
                                <img class="mb15" src="../../Content/Company2/img/huawei_4.png" alt="">
                                <p>数据库</p>
                            </div>
                        </div>
                        <div class="col-sm-5ths text-center">
                            <div class="h-item">
                                <img class="mb15" src="../../Content/Company2/img/huawei_5.png" alt="">
                                <p>安全</p>
                            </div>
                        </div>
                        <div class="col-sm-5ths text-center">
                            <div class="h-item">
                                <img class="mb15" src="../../Content/Company2/img/huawei_6.png" alt="">
                                <p>应用服务</p>
                            </div>
                        </div>
                        <div class="col-sm-5ths text-center">
                            <div class="h-item">
                                <img class="mb15" src="../../Content/Company2/img/huawei_7.png" alt="">
                                <p>EI企业智能</p>
                            </div>
                        </div>
                        <div class="col-sm-5ths text-center">
                            <div class="h-item">
                                <img class="mb15" src="../../Content/Company2/img/huawei_8.png" alt="">
                                <p>软件开发服务</p>
                            </div>
                        </div>
                        <div class="col-sm-5ths text-center">
                            <div class="h-item">
                                <img class="mb15" src="../../Content/Company2/img/huawei_9.png" alt="">
                                <p>管理与部署</p>
                            </div>
                        </div>
                        <div class="col-sm-5ths text-center">
                            <div class="h-item">
                                <img class="mb15" src="../../Content/Company2/img/huawei_10.png" alt="">
                                <p>云通信</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="huaweiyun-box center">
                        <img class="img-responsive huaweiyun_ewm" src="../../Content/Company2/img/huawei_ewm.png" alt="">
                        <p>扫码，立享更多优惠</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container huaweiyun-mobile">
            <img class="img-responsive mb15" src="../../Content/Company2/img/huaweiyun2.png" alt="">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <div class="h-item">
                        <img class="" src="../../Content/Company2/img/huawei_1.png" alt="">
                        <p>计算</p>
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="h-item">
                        <img class="" src="../../Content/Company2/img/huawei_2.png" alt="">
                        <p>存储</p>
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="h-item">
                        <img class="" src="../../Content/Company2/img/huawei_3.png" alt="">
                        <p>数据库</p>
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="h-item">
                        <img class="" src="../../Content/Company2/img/huawei_4.png" alt="">
                        <p>安全</p>
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="h-item">
                        <img class="" src="../../Content/Company2/img/huawei_5.png" alt="">
                        <p>应用服务</p>
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="h-item">
                        <img class="" src="../../Content/Company2/img/huawei_6.png" alt="">
                        <p>EI企业智能</p>
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="h-item">
                        <img class="" src="../../Content/Company2/img/huawei_7.png" alt="">
                        <p>管理与部署</p>
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="h-item">
                        <img class="" src="../../Content/Company2/img/huawei_8.png" alt="">
                        <p>云通信</p>
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="h-item">
                        <img class="" src="../../Content/Company2/img/huawei_9.png" alt="">
                        <p>软件开发服务</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="huaweiyun-box">
                        <img class="img-responsive" src="../../Content/Company2/img/huawei_cert.png" alt="">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="huaweiyun-box text-center">
                        <img class="img-responsive huaweiyun_ewm" src="../../Content/Company2/img/huawei_ewm.png" alt="">
                        <p>扫码，立享更多优惠</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 我们的产品 -->
    <section class="box" id="OurProducts">
        <div class="container">
            <h2 class="color-black text-center">
                <i class="blue-line"></i>
                我们的产品
                <i class="blue-line"></i>
            </h2>
            <p class="text-center">
                <span class="blue-ellipse">Our Products</span>
            </p>
            <div class="OurProducts mt40">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="op-box">
                            <div class="ctf-mask">
                                <!-- <div class="text-center mt60"> -->
                                    <img src="../../Content/Company2/img/op_1.png" alt="">
                                <!-- </div> -->
                                <div>好味道餐饮产品服务涵盖餐饮企业的各个业务环节，提供餐饮业供应链的系统化解决方案；实时掌控点餐流程，外卖订单处理情况，真正的放心享受美食</div>

                            </div>
                            <img class="img-responsive" src="../../Content/Company2/img/op_bg_1.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="op-box">
                            <div class="ctf-mask">
                                <!-- <div class="text-center mt60"> -->
                                    <img src="../../Content/Company2/img/op_2.png" alt="" style="top: 20%">
                                <!-- </div> -->
                                <div>企商云惠平台管理（手机版）：连接接入商城首页，个人中心以及后台管理。</div>

                            </div>
                            <img class="img-responsive" src="../../Content/Company2/img/op_bg_2.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="op-box">
                            <div class="ctf-mask">
                                <!-- <div class="text-center mt60"> -->
                                    <img src="../../Content/Company2/img/op_3.png" alt="" style="top: 20%;left: 43%;">
                                <!-- </div> -->
                                <div>全面的智能购物服务，主要功能:自助购物、会员中心管理、放心购物、收藏、购物车、收货地址管理。</div>

                            </div>
                            <img class="img-responsive" src="../../Content/Company2/img/op_bg_3.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="op-box">
                            <div class="ctf-mask">
                                <!-- <div class="text-center mt60"> -->
                                    <img src="../../Content/Company2/img/op_4.png" alt="">
                                <!-- </div> -->
                                <div>凤凰商城汇聚美食、外卖、娱乐、美容、购物等综合性平台开发，简单操作、智能服务。</div>

                            </div>
                            <img class="img-responsive" src="../../Content/Company2/img/op_bg_4.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="op-box">
                            <div class="ctf-mask">
                                <!-- <div class="text-center mt60"> -->
                                    <img src="../../Content/Company2/img/op_5.png" alt="" style="top: 20%;left: 41%;">
                                <!-- </div> -->
                                <div>企商云惠后台管理系统是餐饮、接入商城、凤凰商城等手机终端产品的后台支持。也可作为企业OA，用于企业管理(绑定微信登录更快捷，支持微信二维码一键登录)。</div>

                            </div>
                            <img class="img-responsive" src="../../Content/Company2/img/op_bg_5.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="op-box">
                            <div class="ctf-mask">
                                <!-- <div class="text-center mt60"> -->
                                    <img src="../../Content/Company2/img/op_5.png" alt="" style="top: 20%;left: 41%;">
                                <!-- </div> -->
                                <div>餐饮客户端点菜系统主要针对的是餐饮管理，线下经营或网上外卖订单的确认。主要功能就是为顾客开台点餐、埋单和直接连接小票中心打印小票。集点菜和收银为一体的点餐系统。</div>

                            </div>
                            <img class="img-responsive" src="../../Content/Company2/img/op_bg_6.png" alt="" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <button type="button" class="btn btn-default op-more">查看更多</button>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- 合作伙伴 -->
    <section class="box" id="partner">
        <div class="container">
            <h2 class="color-black text-center">
                <i class="blue-line"></i>
                合作伙伴
                <i class="blue-line"></i>
            </h2>
            <p class="text-center">
                <span class="blue-ellipse">Cooperative Partner</span>
            </p>
            <div class="partner mt40">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="p-item">
                            <div class="media">
                                <span class="media-left">
                                    <img class="media-object wxFont" src="../../Content/Company2/img/partner_1.png" alt="媒体对象">
                                </span>
                                <div class="media-body">
                                    <h4 class="media-heading">微信支付</h4>
                                    微信支付服务商

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="p-item">
                            <div class="media">
                                <span class="media-left">
                                    <img class="media-object wxFont" src="../../Content/Company2/img/partner_3.png" alt="媒体对象">
                                </span>
                                <div class="media-body">
                                    <h4 class="media-heading">中惠科技</h4>
                                    中惠科技

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-sm-6 col-md-4">
                        <div class="p-item">
                            <div class="media">
                                <span class="media-left">
                                    <img class="media-object wxFont" src="../../Content/Company2/img/partner_5.png" alt="媒体对象">
                                </span>
                                <div class="media-body">
                                    <h4 class="media-heading">好美味</h4>
                                    广州好美味信息科技有限公司

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="p-item">
                            <div class="media">
                                <span class="media-left">
                                    <img class="media-object wxFont" src="../../Content/Company2/img/partner_2_2.png" alt="媒体对象">
                                </span>
                                <div class="media-body">
                                    <h4 class="media-heading">广东码识图科技有限公司</h4>
                                    广东码识图科技有限公司

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="p-item">
                            <div class="media">
                                <span class="media-left">
                                    <img class="media-object wxFont" src="../../Content/Company2/img/partner_6.png" alt="媒体对象">
                                </span>
                                <div class="media-body">
                                    <h4 class="media-heading">华为云</h4>
                                    华为云渠道合作伙伴

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="p-item">
                            <div class="media">
                                <span class="media-left">
                                    <img class="media-object wxFont" src="../../Content/Company2/img/partner_7.png" alt="媒体对象">
                                </span>
                                <div class="media-body">
                                    <h4 class="media-heading">诚迈科技(南京)</h4>
                                    诚迈科技(南京)

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- 客户列表 -->
    <section class="box" id="customer">
        <div class="container">
            <h2 class="color-black text-center">
                <i class="blue-line"></i>
                客户列表
                <i class="blue-line"></i>
            </h2>
            <p class="text-center">
                <span class="blue-ellipse">Customer List</span>
            </p>
            <div class="customer mt40">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="c-item text-center">
                            <div class="c-item-img">
                                <img class="img-responsive" src="../../Content/Company2/img/ct1.png" alt="" />
                            </div>
                            <p>中国移动广州分公司</p>
                            <p>地址: 广东广州</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- 资质荣誉 -->
    <section class="honer" id="honer">
        <div class="container">
            <h2 class="color-black text-center">
                <i class="blue-line"></i>
                资质荣誉
                <i class="blue-line"></i>
            </h2>
            <p class="text-center">
                <span class="blue-ellipse">HONER</span>
            </p>
            <div class="row text-center">
                <div class="col-md-2 col-sm-2 col-sm-offset-3 col-xs-4">
                    <button type="button" class="btn btn-default btn-block">专利证书</button>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-default btn-block">软件著作权证书</button>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-default btn-block">高新技术企业</button>
                </div>
            </div>
            <!-- 证书列表 -->
            <div class="ctf-list-wp">
                <div class="row ctf-list" id="ctf-zl">
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/zhuanli_1.png" alt="">
                        <p class="text-center mt25">
                            程序分布式运行方法、装置及系统
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/zhuanli_2.png" alt="">
                        <p class="text-center mt25">
                            分布式系统的资源操作方法及装置、分布式系统
                        </p>
                    </div>
                </div>
                <div class="row ctf-list"  id="ctf-rz" style="display: none;">
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/ctf_1.png" alt="">
                        <p class="text-center mt25">
                            接入信息义齿管理系统
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/ctf_2.png" alt="">
                        <p class="text-center mt25">
                            伊社制造业企业资源管理系统 
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/ctf_3.png" alt="">
                        <p class="text-center mt25">
                            企商云惠鲜花批发与花店管理云平台
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/ctf_4.png" alt="">
                        <p class="text-center mt25">
                            企商云惠客户关系管理云平台
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/ctf_5.png" alt="">
                        <p class="text-center mt25">
                            企商云惠微信商城云平台  
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/ctf_6.png" alt="">
                        <p class="text-center mt25">
                            企商云惠餐饮管理云平台  
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/ctf_7.png" alt="">
                        <p class="text-center mt25">
                            企商云惠微信俱乐部云平台 
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/ctf_8.png" alt="">
                        <p class="text-center mt25">
                            接入信息工程项目管理系统
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/ctf_9.png" alt="">
                        <p class="text-center mt25">
                            伊社餐厅管理系统  
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/ctf_10.png" alt="">
                        <p class="text-center mt25">
                            接入信息月饼管理系统 
                        </p>
                    </div>

                </div>
                <div class="row ctf-list" id="ctf-gx" style="display: none;">

                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/gaoxin1.png" alt="" style="height: 246.5px;">
                        <p class="text-center mt25">
                            高新技术企业牌匾
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 mt60">
                        <img class="img-responsive" src="../../Content/Company2/img/gaoxin2.jpg" alt="" style="height: 246.5px;">
                        <p class="text-center mt25">
                            高新技术企业证书
                        </p>
                    </div>
                </div>

            </div>
            <!-- 证书特写 -->
            <div class="row ctf-big">
                <div class="col-md-8 col-sm-8 col-sm-offset-2">
                    <p class="text-center mt25">接入信息管理系统V1.0</p>
                    <img class="img-responsive" src="../../Content/Company2/img/ctf_big.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- 页脚 -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img src="../../Content/Company2/img/lianxiwomenerweima.png" style="width :100%;padding:10% " />
                    <p class="text-center">企商云惠公众号</p>
                </div>
                <div class="col-sm-5" style="padding:30px">
                    <div style="border-right:1px solid #8b8989">
                        <address>
                            <span>备案:</span>
                            粤ICP备15079973号
                            <br />
                        </address>
                        <a target="_blank" href="http://www.jierutek.com/" title="广州接入信息科技有限公司">
                            © 2015-2018 广州接入信息科技有限公司
                        </a>
                        . All Rights Reserved.
                    </div>

                </div>
                <div class="col-sm-5" style="padding:30px">
                    <address>
                        <span>公司地址 : </span>
                        广州市天河区黄埔大道中277号203
                        <br />
                        <abbr title="Phone">手机 : </abbr>
                        <a href="tel:13928914698">+86-13928914698</a>
                        <br />
                        <abbr title="Email">邮件 : </abbr>
                        <a href="mailto:service@jierutek.com">service@jierutek.com</a>
                    </address>
                </div>
            </div>
        </div>
    </footer>
    <!-- 右侧二维码 -->
    <div class="ewm">
        <div class="btn-group-vertical btn-group-lg">
            <button type="button" class="btn b1 btn-default" data-toggle="popover"
                    data-container="body" data-placement="auto left" data-trigger="hover focus">
                <img src="../../Content/Company2/img/ewm_1.png" alt="">
            </button>
            <button type="button" class="btn b2 btn-default" data-toggle="popover"
            data-container="body" data-placement="auto left" data-trigger="hover focus">
                <img src="../../Content/Company2/img/ewm_2.png" alt="">
            </button>
            <button type="button" class="btn b3 btn-default" onclick="tophref.click();">
                <a href="#top" class="back-to-top" id="tophref"><img src="../../Content/Company2/img/ewm_3.png" alt=""></a>
            </button>
        </div>
    </div>

    <script src="../../Content/Company2/libs/jquery-3.3.1.min.js"></script>
    <script src="../../Content/Company2/libs/bootstrap.min.js"></script>
    <script src="../../Content/Company2/js/index.js"></script>
</body>

</html>